body{
    background-color: rgb(54, 54, 54);
   
}
h1{
    background-color: greenyellow;
}
/*#region add book button*/
.modal{
    background-color: rgb(229, 255, 0);
}
.modal::backdrop{
    background: linear-gradient(45deg, orange, teal);
    opacity: .8;
}

.enterBook{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: orange;
}
/* #endregion add book*/

#bookLibrary{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px,1fr));
    gap: 5%;
}

/*#region book*/
.book{
    aspect-ratio: 1/1.5;
    display: grid;
    grid-template-columns: 1f;
    position: relative;
    border: 1px solid red;
    border-radius: 2%;
    overflow: hidden;  
    background-color: rgb(252, 0, 0); 
}
.book:hover:not(.clicked) {
    transition: .5s;
    transform: scale(1.02);
}
.book.clicked{
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    aspect-ratio: 5/3;
}
dialog{
    border: 2px solid blue;
    border-radius: 2%;
    padding: 0px;
}

/*#endregion Book*/


/*#region Info*/
.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 255, 0.719);
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.clicked .info{
    background-color: black;

}


/*#endregion Book*/

/*#region Description*/
.description {
    visibility: hidden;
    position: absolute;
    grid-column: span 2;
}
.book:hover .description{
    visibility: visible;
    position: relative;
}
.clicked div{
    visibility: visible;
    position: relative;
}

/*#endregion Description*/



/*#region Delete*/

.delete{
    visibility: hidden;
}
.clicked .delete{
    visibility: visible;
    width: 200px;
    height: 25px;
    background-color: rgba(161, 31, 31, 0.74);
    color: aliceblue;
}
.clicked .delete:hover{
   background-color: red; 
}
/*#endregion Delete*/


/*#region read icon*/
.read img{
    height: 60px;
    user-drag: none; /* Standard syntax */
    -webkit-user-drag: none; /* Safari and older versions of Chrome */

}
div.read:not(.clicked){
    position: absolute;
    right: 1%;
    bottom: 1%;
}
.clicked div.read{
   top: 3%;
   right: 3%;
}
/*#endregion read icon*/


.title:not(.clicked){
    font-size: 30px;
    grid-column: span 2;
}
.clicked .title {
    color: orange;
    font-size: 100px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

}

.authorPages{
    grid-column: span 2;
    display: flex;
    padding-bottom: 10px;
}
.author{
    padding-right: 10px;
}
.bookCoverWrap > .bookCover{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-drag: none; /* Standard syntax */
    -webkit-user-drag: none; /* Safari and older versions of Chrome */
}
