body{
    background-color: rgb(54, 54, 54);
}
h1{
    background-color: greenyellow;
    padding: 40px;
    margin: 10px;
}
/*#region add book button*/
.open-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
    background-color: transparent;
    border-width: 0;

}
.open-button img{
    height: 80px;
}
.open-button img:hover{
    transform: rotate(180deg);
    transition: .5s;
    
    

}
.enter{
    background-color: rgb(241, 255, 116);
    height: 600px;
    width: 300px;
}
.enter::backdrop{
    background: linear-gradient(45deg, orange, teal);
    opacity: .8;
}

.enterBook{
    display: grid;
    grid-template-columns: 1fr;
    color: orange;
    
}
/* #endregion add book*/

#bookLibrary{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px,1fr));
    gap: 5%;
}

/*#region book*/
.book{
    aspect-ratio: 1/1.5;
    display: grid;
    grid-template-columns: 1f;
    position: relative;
    border: 1px solid rgb(7, 226, 255);
    border-radius: 2%;
    overflow: hidden;  
    background-color: rgb(252, 0, 0); 
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
.book:hover:not(.clicked) {
    transition: .5s;
    transform: scale(1.02);
}
.book.clicked{
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 600px;
    aspect-ratio: 5/3;
    z-index: 2;
    
}



dialog{
    border: 2px solid blue;
    border-radius: 2%;
    padding: 0px;
}

/*#endregion Book*/


/*#region Info*/
.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 255, 0.719);
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.clicked .info{
    background-color: black;

}

dialog.confirmDelete{
    height: 300px;
    width: 400px;
    position: fixed;
    background-color: crimson;
}
/*#endregion Book*/

/*#region Description*/
.description {
    visibility: hidden;
    position: absolute;
    grid-column: span 2;
}
.book:hover .description{
    visibility: visible;
    position: relative;
}
.clicked div{
    visibility: visible;
    position: relative;
}

/*#endregion Description*/



/*#region Delete*/

.delete{
    visibility: hidden;
}
.clicked .delete{
    visibility: visible;
    width: 200px;
    height: 25px;
    background-color: rgba(161, 31, 31, 0.74);
    color: aliceblue;
}
.clicked .delete:hover{
   background-color: red; 
}
/*#endregion Delete*/


/*#region read icon*/
.read img{
    height: 60px;
    user-drag: none; /* Standard syntax */
    -webkit-user-drag: none; /* Safari and older versions of Chrome */

}
.read img:hover{
    opacity: 0.8;
}
div.read:not(.clicked){
    position: absolute;
    right: 1%;
    bottom: 1%;
}
.clicked div.read{
   top: 3%;
   right: 3%;
}
/*#endregion read icon*/


.title:not(.clicked){
    font-size: 30px;
    grid-column: span 2;
}
.clicked .title {
    color: orange;
    font-size: 100px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

}

.authorPages{
    grid-column: span 2;
    display: flex;
    padding-bottom: 10px;
}
.author{
    padding-right: 10px;
}
.clicked #bk  {
    height: 200%;
    width: auto;
    filter: blur(3px);
    z-index: -1;
}


.bookCoverWrap > .bookCover{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-drag: none; /* Standard syntax */
    -webkit-user-drag: none; /* Safari and older versions of Chrome */
}
